/*!------------------------------------------------------------------
[MAIN STYLESHEET]

PROJECT:	Gramstats
VERSION:	1.0.0
-------------------------------------------------------------------*/
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700");
body {
  line-height: 1.2;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
}

p {
  letter-spacing: .5px;
  color: #777777;
  font-size: 16px;
  line-height: 1.5;
}

h1, h2, h3, h4, h5, h6 {
  color: #000;
  font-weight: 700;
}

h1, .h1 {
  font-size: 54px;
}

h2, .h2 {
  font-size: 46px;
}

h3, .h3 {
  font-size: 40px;
}

h4, .h4 {
  font-size: 23px;
}

h5, .h5 {
  font-size: 19px;
}

h6, .h6 {
  font-size: 16px;
}

.btn {
  font-size: 16px;
  border-radius: 0;
  padding: 18px 55px;
  border: none;
  letter-spacing: 1px;
  border-radius: 4px;
}

.btn-primary {
  background: #32a0ff;
  color: #fff;
  position: relative;
  z-index: 1;
}

.btn-primary-gradient {
  background-image: linear-gradient(90deg, #ff9e67 0%, #ff5082 100%);
  color: #fff;
  position: relative;
  z-index: 1;
}

.btn-primary-gradient:hover {
  color: #fff;
  box-shadow: 0px 32px 44px 0px rgba(0, 0, 0, 0.05);
}

.btn-secondary {
  background-color: #454fce;
  font-size: 14px;
}

.btn-secondary:hover {
  background-color: #343fc5;
}

.btn-sm {
  padding: 15px 28px;
}

body {
  background: #fbfdff;
}

.section {
  padding: 100px 0;
}

.section-title {
  margin-bottom: 50px;
}

.section-title h2 {
  margin-bottom: 30px;
}

.section-title p {
  width: 50%;
  margin: 0 auto;
}

.mbn-200 {
  -webkit-transform: translateY(200px);
          transform: translateY(200px);
}

@media (max-width: 1200px) {
  .mbn-200 {
    -webkit-transform: translateY(100px);
            transform: translateY(100px);
  }
}

@media (max-width: 991px) {
  .mbn-200 {
    -webkit-transform: translateY(50px);
            transform: translateY(50px);
  }
}

@media (max-width: 767px) {
  .mbn-200 {
    -webkit-transform: translateY(25px);
            transform: translateY(25px);
  }
}

.form-control {
  padding: 18px 20px;
}

.cta {
  padding-top: 100px;
}

@media (max-width: 767px) {
  .cta {
    padding-top: 50px;
  }
}

.cta-tagline {
  font-size: 30px;
  margin-bottom: 45px;
}

.cta-tagline span {
  color: #f65d67;
}

@media (max-width: 400px) {
  .cta-tagline {
    font-size: 25px;
  }
}

.main-nav {
  padding: 30px 25px;
  transition: .5s ease;
}

@media (max-width: 400px) {
  .main-nav {
    padding: 10px;
  }
}

.main-nav.nav-bg {
  padding: 20px;
  background: #1727CE;
}

.hero-area {
  background-image: url("../images/backgrounds/header-bg.png");
  background-size: cover;
  background-position: bottom center;
  margin-bottom: 200px;
}

@media (max-width: 1200px) {
  .hero-area {
    margin-bottom: 100px;
  }
}

@media (max-width: 991px) {
  .hero-area {
    margin-bottom: 50px;
  }
}

@media (max-width: 767px) {
  .hero-area {
    margin-bottom: 25px;
  }
}

.hero-header {
  margin-bottom: 70px;
}

@media (max-width: 991px) {
  .hero-header {
    margin-bottom: 40px;
  }
}

.hero-header h1, .hero-header p {
  color: #fff;
}

.hero-header p {
  font-size: 23px;
}

@media (max-width: 991px) {
  .hero-header p {
    font-size: 16px;
  }
}

@media (max-width: 575px) {
  .hero-header p {
    font-size: 14px;
  }
}

@media (max-width: 991px) {
  .hero-header h1 {
    font-size: 45px;
  }
}

@media (max-width: 575px) {
  .hero-header h1 {
    font-size: 30px;
  }
}

@media (max-width: 400px) {
  .hero-header h1 {
    font-size: 25px;
  }
}

.insta-count {
  background: #fff;
  border-radius: 4px;
  box-shadow: 0px 32px 44px 0px rgba(0, 0, 0, 0.05);
  padding: 20px 55px 70px;
}

@media (max-width: 1200px) {
  .insta-count {
    padding: 20px 30px 70px;
  }
}

@media (max-width: 400px) {
  .insta-count {
    padding: 10px 20px 50px;
  }
}

.insta-count ul.nav-tabs {
  display: flex;
  border-bottom: 0;
  position: relative;
}

.insta-count ul.nav-tabs::before {
  content: '';
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: #d8d8d8;
  border-radius: 4px;
}

.insta-count ul.nav-tabs .nav-item {
  flex-basis: 50%;
  text-align: center;
}

.insta-count ul.nav-tabs .nav-item .nav-link {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  border-radius: 0;
  border-width: 0;
  position: relative;
}

.insta-count ul.nav-tabs .nav-item .nav-link h5 {
  margin-bottom: 0;
  margin-left: 10px;
  color: #777777;
  font-weight: 400;
  transition: .3s ease;
}

@media (max-width: 400px) {
  .insta-count ul.nav-tabs .nav-item .nav-link h5 {
    font-size: 14px;
  }
}

.insta-count ul.nav-tabs .nav-item .nav-link .icon svg {
  fill: #777777;
  transition: .3s ease;
}

.insta-count ul.nav-tabs .nav-item .nav-link::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 4px;
  background: #000;
  border-radius: 4px;
  left: 0;
  bottom: 1px;
  -webkit-transform: scaleX(0);
          transform: scaleX(0);
  -webkit-transform-origin: right;
          transform-origin: right;
  transition: -webkit-transform .3s ease-in-out;
  transition: transform .3s ease-in-out;
  transition: transform .3s ease-in-out, -webkit-transform .3s ease-in-out;
}

.insta-count ul.nav-tabs .nav-item .nav-link.active {
  background-color: transparent;
  border-width: 0;
  position: relative;
}

.insta-count ul.nav-tabs .nav-item .nav-link.active::before {
  -webkit-transform: scaleX(1);
          transform: scaleX(1);
  -webkit-transform-origin: left;
          transform-origin: left;
}

.insta-count ul.nav-tabs .nav-item .nav-link.active h5 {
  color: #262626;
}

.insta-count ul.nav-tabs .nav-item .nav-link.active .icon svg {
  fill: #262626;
}

.insta-count ul.nav-tabs .nav-item .nav-link:hover {
  border-width: 0;
}

.insta-count .user-details {
  margin-top: 55px;
  margin-bottom: 70px;
}

.insta-count .user-details img {
  border-radius: 50%;
  margin-bottom: 10px;
}

@media (max-width: 575px) {
  .insta-count .user-details h2 {
    font-size: 30px;
  }
}

.insta-count .user-details .username {
  margin-bottom: 35px;
}

.insta-count .tab-pane.active .fade-up-animation {
  -webkit-animation: fading-anim .7s ease;
          animation: fading-anim .7s ease;
}

.checkform {
  padding: 0 50px;
}

@media (max-width: 1200px) {
  .checkform {
    padding: 0;
  }
}

.checkform input {
  border: none;
  box-shadow: 0px 32px 44px 0px rgba(0, 0, 0, 0.1);
}

.checkform input:focus {
  outline: 0;
  box-shadow: 0px 32px 44px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .checkform input {
    text-align: center;
  }
}

@media (max-width: 575px) {
  .checkform input {
    font-size: 12px;
  }
}

.checkform button {
  box-shadow: 0px 32px 44px 0px rgba(0, 0, 0, 0.1);
}

@media (max-width: 991px) {
  .checkform button {
    margin-top: 15px;
  }
}

@-webkit-keyframes fading-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes fading-anim {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.footer {
  position: relative;
  padding: 300px 0 45px;
  background: url("../images/backgrounds/footer-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top center;
}

@media (max-width: 991px) {
  .footer {
    padding: 200px 0 45px;
  }
}

.footer .background-shape {
  position: absolute;
  width: 100%;
  bottom: 0;
  z-index: -1;
}

.footer .block h2 {
  margin-bottom: 35px;
}

@media (max-width: 575px) {
  .footer .block h2 {
    font-size: 30px;
  }
}

.footer .footer-form {
  margin-bottom: 80px;
}

@media (max-width: 575px) {
  .footer .footer-form {
    margin-bottom: 50px;
  }
}

.footer .footer-form .input-group {
  box-shadow: 0px 32px 44px 0px rgba(0, 0, 0, 0.2);
}

@media (max-width: 575px) {
  .footer .footer-form input {
    font-size: 12px;
  }
}

/*# sourceMappingURL=maps/style.css.map */
